.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signIn {
    position: absolute;
    top: 15px;
    right: 24px;
    z-index: 1000;
}

#playerOne {
    width: 50%;
    margin: auto; 
    height: 45vh;
}

#playerTwo {
    width: 50%; 
    margin: auto; 
    height: 45vh;
}

#playerOneCont {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#playerTwoCont {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reset {
    margin: 0;
    position: absolute;
    top: 51.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#resetBtn {
    margin: auto;
    padding: 0px 0px 10px 0px;
    font-size: 1.5em;
    animation: rotation 2s infinite linear;
}

#coin {
    position: fixed; 
    left: 24px; 
    top: 48vh;
    font-size: 1.5em;
    margin: auto;
    text-align: center;
}

#dice {
    position: fixed; 
    right: 24px; 
    top: 48vh;
    font-size: 1.5em;
    margin: auto;
    text-align: center;
}

#playerOneLife {
    padding-top: 10px;
}

#playerTwoLife {
    padding-top: 10px;
}

#upBtn {
    width: 100px;
    margin: auto;
    padding-bottom: 7px;
}

#downBtn {
    width: 100px;
    margin: auto;
    padding-bottom: 7px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


@media only screen and (max-width: 600px) {
    #playerOne {
        width: 100%;
        margin: auto; 
        height: 45vh;
        transform: rotate(180deg);
    }
    
    #playerTwo {
        width: 100%; 
        margin: auto; 
        height: 45vh;
    }

    #signIn {
        position: absolute;
        top: 15px;
        right: 5px;
        z-index: 1000;
        font-size: 0.75em;
    }
  }